extends ./layout.jade
block content
  #container
    ul#toDoList
      p= list
      for list in userlist
        li.list
          input(type="checkbox", data-list-id="#{list._id}", data-checked="#{list.is_done}")
          span.title
            a(href="/edit_item/#{list._id}")= list.title
          span= list.description
          form.toDoForm(action="/list/#{list._id}?_method=DELETE", method="POST")
            button X

  h1 to do list
  a(href="/new_item") New Item Page
  a(href="/edit_item") Edit Item Page
