extends ./layout.jade
block content
  #container
    ul#toDoList
      p= list
      for list in userlist
        if list.is_done === true
          li.list.completed
            +listbody(list)
        else
          li.list
            +listbody(list)
    .counterContainer
      .itemsCompleted
        p
          span
          | items completed, 
      .itemsLeft
        p
          span
          | items left
  //- a(href="/new_item") New Item
  a(href="/edit_item") Edit Item Page

mixin listbody(list)
  .checkbox
    input(type="checkbox", data-list-id="#{list._id}", data-checked="#{list.is_done}")
    span.title
      a(href="/edit_item/#{list._id}")= list.title
    form.toDoForm(action="/list/#{list._id}?_method=DELETE", method="POST")
      button X
  span.description= list.description
